<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('main_page')}}">Shopify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main_page')}}">Home<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('add_category')}}">Add
                    Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('add_item')}}">Add Item</a>
            </li>
        </ul>
        {% if 'username' not in session %}
        <form class="form-inline my-2 my-lg-0" action="{{url_for('show_login')}}" method="get">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                SignIn/SignUp
            </button>
        </form>
        {% else %}
        <form class="form-inline my-2 my-lg-0" action="{{url_for('disconnect')}}" method="get">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Logout &nbsp;
            {{session['username']}}
            </button>
        </form>
        {% endif %}
    </div>
</nav>

