<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"
            async></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            async></script> -->

    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='bootstrap.min.css')}}">
</head>
<body>
<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% if 'snap' in messages[0] %}
                <div class = 'alert alert-danger'>
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class = 'alert alert-info'>
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}
</div>
</body>
</html>